<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%date %level [%thread] %logger.%method(%file:%line) - %msg%n"/>-->
            <PatternLayout pattern="%date %level [%thread] %location - %msg%n"/>
        </Console>

        <RollingFile name="DRFA" fileName="@log4j.dir@/service.log"
                     filePattern="@log4j.dir@/service.log.%date{yyyy-MM-dd}">
            <PatternLayout pattern="%date %level [%thread] %location - %msg%n"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DRFA"/>
        </Root>

        <!-- 第三方jar日志级别 -->
        <logger name="org.springframework" level="error"/>
        <logger name="com.ibatis" level="DEBUG"/>
        <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG"/>
        <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG"/>
        <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG"/>
        <logger name="sql.Connection" level="DEBUG"/>
        <logger name="sql.Statement" level="DEBUG"/>
        <logger name="java.sql.PreparedStatement" level="DEBUG"/>
    </Loggers>
</Configuration>
